<nav class="bar bar-tab">
    <a class="tab-item active" href="/Travels">
        <span class="icon icon-home"></span>
        <span class="tab-label">首页</span>
    </a>
    <a class="tab-item" href="/User">
        <span class="icon icon-me"></span>
        <span class="tab-label">我</span>
    </a>
    <a class="tab-item" href="/User/Setting">
        <span class="icon icon-settings"></span>
        <span class="tab-label">设置</span>
    </a>
</nav>
