@{
    ViewBag.Title = "Regist";
}
<div class="page">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="/Home/Login">
            <span class="icon icon-left"></span>
            返回
        </a>
        <h1 class="title">注册</h1>
    </header>
    <div class="content">
        <div class="list-block">
            <ul>
                <!-- Text inputs -->
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">登录名</div>
                            <div class="item-input">
                                <input type="text" id="username" placeholder="Your name">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">E-mail</div>
                            <div class="item-input">
                                <input type="email" id="email" placeholder="E-mail">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">密码</div>
                            <div class="item-input">
                                <input type="password" id="password1" placeholder="Password" class="">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">确认密码</div>
                            <div class="item-input">
                                <input type="password" id="password2" placeholder="Password" class="">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">手机号码</div>
                            <div class="item-input">
                                <input type="text" id="phone" placeholder="用于找回密码等" class="">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-block">
            <div class="row">
                <div class="col-100"><a href="#" onclick="regist()" class="button button-big button-fill button-success">注册</a></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function regist() {
        var username = $("#username").val();
        var email = $("#email").val();
        var password1 = $("#password1").val();
        var password2 = $("#password2").val();
        var phone = $("#phone").val();
        if (username == "" || password1 == "" || password2 == "") {
            $.toast('请填写完整');
            return;
        }
        if (password1 != password2) {
            $.toast('密码不一致');
            return;
        }
        var data = {
            username: username,
            email: email,
            password: password1,
            phone: phone
        };
        $.ajax({
            url: "/Home/RegistIn",
            type: "POST",
            data: data,
            async: false,
            success: function (flag) {
                if (flag == 'true' || flag == 'True') {
                    window.location.href = "/User/UserDetail";
                } else {
                    $.toast('sorry,请重试');
                }
            }
        });
    }

</script>